

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


html {
	background: #4D618B;
}

body {
	line-height: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*
	media queries
*/
/* small phone */
@media only screen and (max-width: 321px) {
	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 95%;
		min-height: 304px;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}

	.wall-top {
		border-top: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 2px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		width: 100vw;
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}
	.hall { 
		/* border: 5px solid #3A638E;  */
		/* width: 4em; height: 4em;  */
		z-index: 5;
	}	
	
	td {
		width: 33px;
		height: 33px;
		border: 2px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 33px;
	}
	
	.button {
		/* margin: 20px auto; */
		padding: 5px 7px;
	}
	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}


	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		// letter-spacing: 0.05rem;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 45px;
		width: 100px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}

	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}	
	
	.player {
		font-size: 1.3em;
		line-height: 36px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}
	
	.selectedWall {
		background: #B02D1F;
	}
	
	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 10px;
		text-align: center;
	}
	
	.wall-counter-div {
		margin: 2em auto;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		font-size: 1em;
		max-width: 75px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
}

/* medium phone */
@media only screen and (max-width: 376px) and (min-width: 322px) {
	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 95%;
		max-height: 3360px;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}

	.wall-top {
		border-top: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 2px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		width: 100vw;
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}
	.hall { 
		/* border: 5px solid #3A638E;  */
		/* width: 4em; height: 4em;  */
		z-index: 5;
	}
	.table .floor { 
		/* background: brown;  */
		// margin: 1px;
	}
	
	
	td {
		width: 36px;
		height: 36px;
		border: 2px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 43px;
	}
	
	.button {
		/* margin: 20px auto; */
		padding: 5px 7px;
	}
	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}


	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		// letter-spacing: 0.05rem;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 45px;
		width: 100px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}

	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}	
	
	.player {
		font-size: 1.7em;
		line-height: 36px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}
	
	.selectedWall {
		background: #B02D1F;
	}
	
	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 10px;
		text-align: center;
	}
	
	.wall-counter-div {
		margin: 2em auto;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		font-size: 1em;
		max-width: 75px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
}

/* large phone */
@media only screen and (max-width: 640px) and (min-width: 377px) {
	table {
		font-size: 1em;
		
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 387px;
		max-height: 387px;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}

	.wall-top {
		border-top: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 2px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 2px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		width: 100vw;
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}
	.hall { 
		/* border: 5px solid #3A638E;  */
		/* width: 4em; height: 4em;  */
		z-index: 5;
	}
	
	td {
		width: 39px;
		height: 39px;
		border: 2px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 43px;
	}
	
	.button {
		/* margin: 20px auto; */
		padding: 5px 7px;
	}
	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}


	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		// letter-spacing: 0.05rem;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 45px;
		width: 100px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}

	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}
	
	.player {
		font-size: 1.7em;
		line-height: 43px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}
	
	.selectedWall {
		background: #B02D1F;
	}
	
	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 13px;
		text-align: center;
	}
	
	.wall-counter-div {
		margin: 2em auto;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		font-size: 1.25em;
		max-width: 80px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
}

/* tablet */
@media only screen and (max-width: 768px) and (min-width: 641px) {

	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 495px;
		height: 495px;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
	}
	
	.wall-top {
		border-top: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 3px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}

	.hall { 
		z-index: 5;
	}
	
	td {
		width: 49px;
		height: 49px;
		border: 3px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 55px;
	}
	
	.button {
		padding: 5px 7px;
	}

	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}
	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 45px;
		width: 100px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}
	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}
	
	.player {
		font-size: 1.75em;
		line-height: 55px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}	
	.selectedWall {
		background: #B02D1F;
	}	

	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 20px;
		margin: 0 auto;
	}
	
	.wall-counter-div {
		margin-top: 30px;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		margin: auto;
	}
}

/* laptop 1024px */
@media only screen and (max-width: 1024px) and (min-width: 769px) {

	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 495px;
		height: 495px;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
	}
	
	.wall-top {
		border-top: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 3px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}

	.hall { 
		z-index: 5;
	}
	
	td {
		width: 49px;
		height: 49px;
		border: 3px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 55px;
	}
	
	.button {
		padding: 5px 7px;
	}

	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}
	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		font-size: 1em;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 55px;
		width: 133px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}
	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}
	
	.player {
		font-size: 1.75em;
		line-height: 55px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}	
	.selectedWall {
		background: #B02D1F;
	}	

	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 20px;
		margin: 0 auto;
	}
	
	.wall-counter-div {
		margin-top: 5px;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		margin: auto;
	}
}

/* large laptop */
@media only screen and (max-width: 1440px) and (min-width: 1025px) {

	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 630px;
		height: 630px;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
	}
	
	.wall-top {
		border-top: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 3px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 3px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}

	.hall { 
		z-index: 5;
	}
	
	td {
		width: 60px;
		height: 60px;
		border: 5px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 70px;
	}
	
	.button {
		padding: 5px 7px;
	}

	.controller-div {
		margin: 1em auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}
	.controller-div > p {
		font-family: 'Quantico', sans-serif;
		font-size: 1em;
	}
	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		font-size: 1em;
		cursor: pointer;
		border: none;
		margin: auto;
		height: 55px;
		width: 133px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}
	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}
	
	.player {
		font-size: 1.75em;
		line-height: 55px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}	
	.selectedWall {
		background: #B02D1F;
	}	

	.player-turn {
		font-family: 'Quantico', sans-serif;
		padding: 20px;
		margin: 0 auto;
	}
	
	.wall-counter-div {
		margin-top: 5px;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		margin: auto;
	}
}

/* 4k laptop */
@media only screen and (min-width: 1441px) {

	table {
		font-size: 1em;
	}
	
	.hide {
		display: none;
	}

	#board {
		width: 1080px;
		height: 1080px;
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
	}
	
	.wall-top {
		border-top: 10px solid #FFB000;
		z-index: 9;
	}
	
	.wall-bottom {
		border-bottom: 10px solid #FFB000;
		z-index: 9;
	}
	
	.wall-right {
		border-right: 10px solid #FFB000;
		z-index: 9;
	}
	
	.wall-left {
		border-left: 10px solid #FFB000;
		z-index: 9;
	}
	
	.table { 
		border-spacing: 0; 
		display: flex;
		flex-direction: column;
	}

	.hall { 
		z-index: 5;
	}
	
	td {
		width: 100px;
		height: 100px;
		border: 10px solid #4D618B;
		background: #7686A8; 
	}
	tr {
		height: 120px;
	}
	
	.button {
		padding: 5px 7px;
	}

	.controller-div {
		margin: 0 auto;
		width: 80%;
		padding: 5px 7px;
		display: flex;
		justify-content: space-between;
	}
	.controller-div > p {
		font-family: 'Quantico', sans-serif;
		font-size: 1.5em;
	}
	.controller-btn {
		background: #B8C3D9;
		font-family: 'Quantico', sans-serif;
		font-size: 1.5em;
		cursor: pointer;
		border: none;
		margin: 0 auto;
		height: 75px;
		width: 200px;
		transition: transform .3s ease-in-out;
		box-shadow: 
			0 1.4px 1.1px rgba(0, 0, 0, 0.034),
			0 3.4px 2.6px rgba(0, 0, 0, 0.048),
			0 7.7px 5px rgba(0, 0, 0, 0.06),
			0 11.15px 8.5px rgba(0, 0, 0, 0.086),
			0 50px 40px rgba(0, 0, 0, 0.12);
	}
	.controller-btn:hover {
		transition: .3s ease-in-out;
		background: #7383A6;
		box-shadow: 
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 15.5px 10px rgba(0, 0, 0, 0.06),
			0 22.3px 17.9px rgba(0, 0, 0, 0.086),
			0 100px 80px rgba(0, 0, 0, 0.12);
	}
	
	.player {
		font-size: 3em;
		line-height: 100px;
		text-align: center;
	}
	
	.highlight {
		background: #8DBB5E;
	}
	.highlight:hover{
		background: #BDE297;
	}	
	.selectedWall {
		background: #B02D1F;
	}	

	.player-turn {
		font-family: 'Quantico', sans-serif;
		font-size: 2em;
		padding: 20px;
		margin: 0 auto;
	}
	
	.wall-counter-div {
		margin-top: 2em;
		display: flex;
	}
	.wall-counter {
		font-family: 'Quantico', sans-serif;
		font-size: 2em;
		margin: auto;
	}
}


#restart-div {
	position: fixed;
	display: flex;
	flex-direction: column;
	font-size: 2em;
	padding: 15px;
	margin: 200px;
	background-color: white;
	width: 400px;
	height: 200px;
}

#restart-div h1 {
	margin: 10px auto;
}

#restart-div button {
	margin: auto;
	width: 30%;
	height: 15%;
}

.buttonTest {
	width: 300px;
	height: 100px;
}

#roomForm {
	background: rgba(0, 0, 0, 0.15);
	margin: auto;
}

#formDiv {
	margin: 30% auto;
}

#roomInput {
	border: none; 
	padding: 0 1rem;
	flex-grow: 1;
	border-radius: 2rem;
	margin: 0.25rem;
}

#roomInput:focus {
	outline: none;
}

#roomButton {
	background: #333;
	border: none;
	padding: 0 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	color: #fff;
}
#roomButton:hover {
	background: gray;
}

#lobby-div {
	
	width: 80%;
}
#lobby-div > h1 {
	background: #fff;
	text-align: center;
}
#lobby-form { 
	background: rgba(0, 0, 0, 0.15); 
	padding: 0.25rem; 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	display: flex; 
	height: 3rem; 
	box-sizing: border-box; 
	backdrop-filter: blur(10px); 
}
#lobby-input { 
	border: none; 
	padding: 0 1rem; 
	flex-grow: 1; 
	border-radius: 2rem; 
	margin: 0.25rem; 
}
#lobby-input:focus { outline: none; }
#lobby-form > button { 
	background: #333; 
	border: none; 
	padding: 0 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	color: #fff; 
}
#lobby-form > button:hover {
	background: gray;
}

#lobby-messages { 
	background: #fff; 
	list-style-type: none; 
	margin: 100px 0; 
	padding: 0; 
	width: 100%;
	height: 100%;
}
#lobby-messages > li { padding: 0.5rem 1rem; }
#lobby-messages > li:nth-child(odd) { background: #efefef; }
#lobby-start-game {
	width: 100px;
	height: 50px;
}

/* splash div */
#splash-div {
	background: #A6B1C9;
	width: 21em;
	height: 21em;
	margin: 15em auto auto auto;
	display: flex;
	flex-direction: column;
	box-shadow: 
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 15.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

.btn {
	background: #B8C3D9;
	border: none;
	margin: auto;
	height: 5em;
	width: 13em;
	transition: transform .3s ease-in-out;
	box-shadow: 
		0 1.4px 1.1px rgba(0, 0, 0, 0.034),
		0 3.4px 2.6px rgba(0, 0, 0, 0.048),
		0 7.7px 5px rgba(0, 0, 0, 0.06),
		0 11.15px 8.5px rgba(0, 0, 0, 0.086),
		0 50px 40px rgba(0, 0, 0, 0.12);
}

.btn:hover {
	transition: .3s ease-in-out;
	transform: scale(1.1);
	background: #7383A6;
	box-shadow: 
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 15.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

/* form div */
#form-div {
	background: #A6B1C9;
	width: 21em;
	height: 21em;
	margin: 15em auto auto auto;
	display: flex;
	flex-direction: column;
	box-shadow: 
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 15.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}

#room-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#room-input {
	text-align: center;
	width: 50%;
	margin: auto;
	line-height: 1.5;
  	font: 700 1.2rem 'Roboto Slab', sans-serif;
  	padding: 1em 2em;
  	letter-spacing: 0.05rem;
}

#room-button {
 	margin: auto;
}

/* lobby rooms list */
#lobby-rooms-list-div {
	background: #A6B1C9;
	width: 21em;
	margin: 15em auto auto auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 
		0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048),
		0 15.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);

}

#lobby-rooms-list-div > ul > li > button {
	margin: 1.3em;
}





@mixin btn-border-drawing($color: #FFEECD, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
//   box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}

.btn {
  @include btn-border-drawing(#403174, #B1A9CD, 4px, bottom, right);
}
.controller-btn {
  @include btn-border-drawing(#403174, #B1A9CD, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
//   border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  
//   &:focus { outline: 2px dotted #4D618C; }
}

#winner-div {
	background: #A6B1C9;
	width: 30vw;
	height: 30vw;
	margin: auto;
	position: relative;
}
#winner-message {
	color: #403174;
	font-family: 'Quantico', sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 50%;
}