

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*/

.html {
    background-color: #882D60;
}



.body {
    width: 100vw;
    height: 100vh;
}
.maze-div {
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
}
.maze-div h1 {
    /* margin: 0 auto; */
    font-size: 27px;
    font-weight: 100;
    color: white;
    padding: 0 0 0 17px;
    margin: 17px auto;
    letter-spacing: 10px;
    /* font-family: 'Roboto',sans-serif; */
}
.maze-div h1:hover {
    cursor: default;
}
.canvas-div {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-div {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button {
    margin: 10px auto;
    font-size: 13px;
    width: 86px;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
}
.button:hover {
    color: #000000;
    background-color: #882D60;
}
.button:focus {
    outline: none;
}
.canvas {
    margin: 0 auto;
}
.canvas:focus {
    outline: none;
}