

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	display: flex;
	justify-content: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*
*/

.hide {
	display: none;
}


table {
	/* border-collapse: collapse; */
	border-spacing: 1;
}
.wall-top {
	border-top: 5px solid #000;
	z-index: 9;
}

.wall-bottom {
	border-bottom: 5px solid #000;
	z-index: 9;
}

.wall-right {
	border-right: 5px solid #000;
	z-index: 9;
}

.wall-left {
	border-left: 5px solid #000;
	z-index: 9;
}

.table { 
	border-spacing: 0; 
	display: flex;
	flex-direction: column;
	/* border-collapse: collapse;  */
}
.table th { padding: .5em; }
.hall { 
	border: 5px solid brown; 
	width: 4em; height: 4em; 
	z-index: 5;
}
.table .floor { 
	background: brown; 
	margin: 1px;
}

.table td:hover {
	background: lightcoral;
}

td {
	width: 74px;
	height: 74px;
}

.button {
	/* margin: 20px auto; */
	padding: 5px 7px;
}
.controller-div {
	margin: 20px auto;
	padding: 5px 7px;
}


.player {
	line-height: 60px;
	text-align: center;
}
.boss {
	line-height: 60px;
	text-align: center;
}
